@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ADLaM Display', cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(./assets/background.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  gap: 25px;
  background: #f0f1ec;
  padding: 30px 55px;
}

.reset {
  display: flex;
  padding: 15px 25px;
  color: #afafaf;
  background: #313131;
  box-shadow: 0 5px 0px #707070;
  border-radius: 4px;
  border: none;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s, color 0.3s;
}

.reset:active {
  transform: translateY(2px);
  box-shadow: none;
}

.reset:hover {
  background: #4b4949;
}

.game {
  width: 430px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 800px;
}

.generators {
  display: flex;
  color: #313131;
  justify-content: space-between;
  align-items: center;
  gap: 14em;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.item {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f1ec;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 3em;
  transition: 0.25s;
  transform-style: preserve-3d;
  overflow: hidden;
}

.item img {
  width: 100%;
  height: auto;
  animation: subtleRotate 3s infinite alternate ease-in-out;
  filter: sepia(0.8) saturate(0.3) hue-rotate(50deg) brightness(0.6);
}

@keyframes subtleRotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

.item.boxOpen {
  transform: rotateY(180deg);
}

.item::after {
  content: '?';
  color: #707070;  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(0deg);
  background: #f0f1ec;
  border-radius: 10px;
  transition: 0.25s;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

@media (width < 900px) {
  .container {
    display: flex;
    justify-content: center;
    max-width: 420px;
    height: 500px;
    padding: 40px 40px;
    gap: 20px;
  }

  .item {
    max-width: 80px;
    max-height: 75px;
  }

  .item img {
    max-width: 75px;
    height: auto;
  }

  .game {
    max-width: 350px;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
  }

  .reset {
    padding: 14px 14px;
    font-size: 0.8em;;
  }

  .generators {
    font-size: 0.9em;
    gap: 9em;
  }
}