@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", system-ui;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(./assets/picture-demo.webp)no-repeat;
  background-size: cover;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: #fff;
  padding: 35px 60px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.reset {
  display: flex;
  padding: 18px 20px;
  color: #fff;
  background: #464973;
  box-shadow: 0 3px 15px rgba(0,0,0,0.1);
  border-radius: 5px;
  border: none;
  font-size: .7em;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  cursor: pointer;
  font-weight: 400;
  transition: background 0.3s, color 0.3s;
}

.reset:hover {
  background: #545591;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.game {
  width: 430px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 800px;
  position: relative;
}

.generators {
  display: flex;
  color: #464973;
  justify-content: space-between;
  align-items: center;
  gap: 11em;
  font-size: .8em;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.item {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform .25s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}

.item:hover {
  transform: scale(1.1);
}

.item.boxOpen {
  transform: rotateY(180deg);
}

.item::after {
  content: '?';
  position: absolute;
  inset: 0;
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: transform 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #464973;
}