@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ADLaM Display', cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(./assets/background.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  gap: 25px;
  background: #f0f1ec;
  padding: 30px 55px;
}

.reset {
  display: flex;
  padding: 15px 25px;
  color: #afafaf;
  background: #313131;
  box-shadow: 0 5px 0px #707070;
  border-radius: 5px;
  border: none;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s, color 0.3s;
  border: 2px solid #707070;
}

.reset:active {
  transform: translateY(2px);
  box-shadow: none;
}

.reset:hover {
  background: #4b4949;
}

.game {
  width: 430px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 800px;
}

.generators {
  display: flex;
  color: #313131;
  justify-content: space-between;
  align-items: center;
  gap: 14em;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.item {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f1ec;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 3em;
  transition: 0.25s;
  transform-style: preserve-3d;
  overflow: hidden;
}

.item img {
  width: 70%;
  height: auto;
  animation: subtleRotate 3s infinite alternate ease-in-out;
  filter: sepia(0.8) saturate(0.3) hue-rotate(50deg) brightness(0.6);
}

@keyframes subtleRotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

.item.boxOpen {
  transform: rotateY(180deg);
}

.item::after {
  content: '?';
  color: #535a4a;  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(0deg);
  background: #f0f1ec;
  border-radius: 10px;
  transition: 0.25s;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

@keyframes match-animation {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.item.match {
  animation: match-animation 0.5s ease;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  50% { transform: translateX(10px); }
  75% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}

.item.shake {
  animation: shake 0.5s ease;
}

@media (width < 900px) {
  .container {
    display: flex;
    justify-content: center;
    max-width: 420px;
    height: 500px;
    padding: 40px 40px;
    gap: 20px;
  }

  .item {
    max-width: 80px;
    max-height: 75px;
  }

  .item img {
    max-width: 75px;
    height: auto;
  }

  .game {
    max-width: 350px;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
  }

  .reset {
    padding: 14px 14px;
    font-size: 0.8em;;
  }

  .generators {
    font-size: 0.9em;
    gap: 9em;
  }
}


/* Stats */

.wrapper-leaderboard {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  background-color: #313131;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 5px;
  width: auto;
  z-index: 1000;
}

.leaderboard-header {
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 8px 30px;
}

.leaderboard-header i {
  font-size: 18px;
  color: #afafaf;
}

.leaderboard-header span {
  color: #afafaf;
}

.leaderboard-header button {
  color: #afafaf;
  background: #313131;
  box-shadow: 0 4px 0px #707070;
  border: 2px solid #707070;
  border-radius: 4px;
  padding: 3px 15px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.leaderboard-header button:active {
  transform: translateY(2px);
  box-shadow: none;
}

.leaderboard-header button:hover {
  background: #4b4949;
}

.leaderboard {
  display: none;
  background-color: #313131;
  padding: 20px;
  width: 285px;
  position: absolute;
  top: 100%;
  left: 0;
  color: #afafaf;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.leaderboard ul {
  list-style-type: none;
  padding: 0;
}

.leaderboard li {
  padding: 10px;
  border-bottom: 1px solid #afafaf;
}

.leaderboard li:last-child {
  border-bottom: none;
}